%table
  - (1..100).each do 
    - ind = rand(1..1000)
    - key = "KEY_#{ind}"
    - value = Rails.cache.fetch(key) { Toy.find_by(:key => key).value }
    %tr
      %td{:style => "font-weight: bold;"}
        = key
      %td
        = value
